
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <% if(!isAuthenticated) { %>  
                                <p>Hello Guest!</p>
                            <% } else { %>
                                <a href="/profile" style="text-decoration: none; color: white;">Hello <%= user.name.split(" ")[0] %></a>
                            <% } %>     
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <% if(!isAuthenticated) { %>  
                                <a href="/sign-in">Sign in</a>
                                <a href="/sign-up">Sign up</a>
                                <% } else { %>
                                    <form action="/logout" method="POST"> 
                                        <input name="_csrf" type="hidden" value="<%= csrfToken %>" />
                                        <a class="primary-btn" href="javascript:;" onclick="parentNode.submit();">Logout</a>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                        <a href="#"><img src="img/icon/heart.png" alt=""></a>
                        <% if(!isAuthenticated) { %>  
                            <a href="/cart"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                        <% } else { %>
                            <% let cartQuantity = 0; %>
                            <% for(let items of user.cart.items) { %>
                                <%  cartQuantity = cartQuantity + items.quantity; %>
                                <% console.log(cartQuantity) %>
                            <% } %>
                            <a href="/cart"><img src="img/icon/cart.png" alt=""> <span><%= cartQuantity %></span></a>
                        <% } %>   
                        <!-- ----------------------- -->
                        <% if(!isAuthenticated) { %>  
                            <div class="price">₹0.00</div>
                        <% } else { %>
                            <% let cartPrice = 0; %>
                            <% for(let items of user.cart.items) { %>
                                <%  cartPrice = cartPrice + items.price; %>
                            <% } %>
                            <div class="price">₹<%= cartPrice %></div>
                        <% } %>     
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
