<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE NOT FOUND</title>
</head>
<body>
 <h1>🔥Page Not Found🔥</h1>
</body>
</html>