body {
  /* min-height: 100vh; */
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: rgba(116, 116, 116, 0.667);
  background: linear-gradient(140deg, #fff, 50%, #6e6cfe);
}

.container-fluid {
  margin-top: 200px;
}

p {
  font-size: 14px;
  margin-bottom: 7px;
}

.small {
  letter-spacing: 0.5px !important;
}

.card-1 {
  box-shadow: 2px 2px 10px 0px #161c2a;
}

hr {
  background-color: rgba(248, 248, 248, 0.667);
}

.bold {
  font-weight: 500;
}

.change-color {
  color: #ab47bc !important;
}

.card-2 {
  box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);
}

.fa-circle.active {
  font-size: 8px;
  color: #ab47bc;
}

.fa-circle {
  font-size: 8px;
  color: #aaa;
}

.rounded {
  border-radius: 2.25rem !important;
}

.progress {
  height: 5px !important;
  margin-bottom: 0;
}

.invoice {
  position: relative;
  top: -70px;
}

.Glasses {
  position: relative;
  top: -12px !important;
}

.card-footer {
  background-color: #ab47bc;
  color: #fff;
}

h2 {
  color: rgb(78, 0, 92);
  letter-spacing: 2px !important;
}

.display-3 {
  font-weight: 500 !important;
}

@media (max-width: 479px) {
  .invoice {
    position: relative;
    top: 7px;
  }

  .border-line {
    border-right: 0px solid rgb(226, 206, 226) !important;
  }
}

@media (max-width: 700px) {
  h2 {
    color: rgb(78, 0, 92);
    font-size: 17px;
  }

  .display-3 {
    font-size: 28px;
    font-weight: 500 !important;
  }
}

.card-footer small {
  letter-spacing: 7px !important;
  font-size: 12px;
}

.border-line {
  border-right: 1px solid rgb(226, 206, 226);
}
